@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.formBox{
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
        color: #000;
    }

    .content{
        font-family: 'Ubuntu', sans-serif;
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 0.5vmax;
    }
}